---
import type { Project } from "@/types/project";
import { Image } from 'astro:assets';

type Props = {
  proj: Project;
};

const { proj } = Astro.props;
---

<a
  href={proj.link}
  target="_blank"
  class="max-w-xl rounded-md border border-neutral-200 p-4 transition duration-300 hover:bg-neutral-200"
>

  <!--LINK PATH: src/images -->
  <img src={`/images/demos/${proj.img_link}.webp`} alt={proj.name}/>

  <div class="py-2"></div>

  <div class="text-md text-xl flex items-center gap-1 text-neutral-900">
    {proj.name}
  </div>
  <div class="py-1"></div>

  <div class="text-sm text-neutral-500">{proj.desc}</div>

</a>
