---
import { personalData } from "@/data/personal";
import { getBaseRouteName } from "@/utils/getBaseRouteName";

const currentRoute = Astro.url.pathname;

type Route = {
  name: string;
  path: string;
};

const routes: Route[] = [
  {
    name: "Home",
    path: "/",
  },
  {
    name: "Projects",
    path: "/projects",
  },
  {
    name: "Posts",
    path: "/posts",
  },
];
---

<div>
  <a href={`mailto:${personalData.email}`} class="px-1 py-0.5"
    >{personalData.email}</a
  >
  <div class="py-1"></div>
  <div class="flex max-w-xl gap-2">
    {
      routes.map((route, idx) => {
        if (idx === routes.length - 1) {
          return (
            <a
              href={route.path}
              class:list={{
                ["px-0.5 py-0.5"]: true,
                ["text-neutral-400 underline underline-offset-2"]:
                  getBaseRouteName(currentRoute) === route.path,
              }}
            >
              {route.name}
            </a>
          );
        }
        return (
          <>
            <a
              href={route.path}
              class:list={{
                ["underline-offset-2 px-1 py-0.5"]: true,
                ["text-neutral-400 underline"]:
                  getBaseRouteName(currentRoute) === route.path,
              }}
            >
              {route.name}
            </a>
            <div class="py-0.5">/</div>
          </>
        );
      })
    }
  </div>
</div>
